@using SchoolManagementSystem.ViewModels.CourseVM;
@model DeleteCourseVM;

<div class="container">
    <form method="post">
        <input type="text" asp-for="Id" class="form-control" id="Id" hidden>
        <div class="mb-3">
            <label asp-for="CourseName" class="form-label">Course Name</label>
            <input type="text" asp-for="CourseName" class="form-control" id="CourseName" disabled>
        </div>
        <div class="mb-3">
            <label asp-for="Duration" class="form-label">Duration</label>
            <input type="text" asp-for="Duration" class="form-control" id="Duration" disabled>
        </div>   
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
</div>